# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
.uv/
.pytest_cache/

# Env & secrets
.env
.streamlit/secrets.toml

# Data & cache
data/*.db
data/*.duckdb
data/cache.sqlite
data/*.parquet

# Streamlit
.streamlit/*.json

# VSCode / IDE
.vscode/
.idea/
